<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <h2>{{ deck.name }}</h2>
    </div>
    <div class="col">
      <mat-slider max=100 min=0 value=50 step=1 thumbLabel=true color="primary"></mat-slider>
    </div>
    <div class="col-auto">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <deck [deck]="deck"></deck>
    </div>
    <div class="col-3 align-items-center">
      <card-viewer [card]="selectedCard"></card-viewer>
    </div>
  </div>
</div>
